<div class="container">

	<% if(item._id){ %>

		<a class="btn btn-primary btn-block" href="/admin/notifications/item?id=<%= item._id %>">
			Enviar notificaciones
		</a>

	<% } %>

	<div class="well">

		<form class="form-horizontal" action="/admin/item/save" method="POST">

			<fieldset>

				<legend>

				<% if(item._id){ %>

					<a href="/item?id=<%= item._id %>" target="_blank">Item</a>

				<% } else { %>

					Item

				<% } %>

				</legend>

				<div class="form-group">
					<label for="name" class="col-lg-2 control-label">Nombre</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" value="<% if(item.name){ %><%= item.name %><% } %>">
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="col-lg-2 control-label">Descripción</label>
					<div class="col-lg-10">
						<textarea class="form-control" rows="3" name="description" id="description" placeholder="Descripción"><% if(item.description){ %><%= item.description %><% } %></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="col-lg-2 control-label">Fotos</label>
					<div class="col-lg-10">

						<% if(item.photos){ %>

							<div id="photos-uploaded" class="row">

								<% 

								var photos = JSON.parse(item.photos);

								for (var i in photos) { 

								%>

									<div class="col-md-3">
										<a href="<%= photos[i].url %>" class="thumbnail" target="_blank">
											<img src="<%= photos[i].url %>/convert?w=230" alt="<%= photos[i].filename %>">
										</a>
									</div>

								<% } %>

							</div>

						<% } %>

						<div id="photos-files" class="row"></div>

						<button id="photos-upload" class="btn btn-primary">Subir</button>

						<input id="photos" name="photos" type="hidden" value="<% if(item.photos){ %><%= item.photos %><% } %>" />

					</div>
				</div>

				<div class="form-group">

					<label for="type" class="col-lg-2 control-label">Tipo</label>

					<div class="col-lg-10">
						<select class="form-control" id="type" name="type">
							<option <% if(item.type === 'gift'){ %>selected<% } %> value="gift">Regalo</option>
							<option <% if(item.type === 'auction'){ %>selected<% } %> value="auction">Subasta</option>
						</select>
					</div>

				</div>

				<div class="form-group">
					<label for="date" class="col-lg-2 control-label">Fecha límite</label>
					<div class="col-lg-10">
						<input type="text" value="<% if(item.date){ %><%= item.date %><% } %>" placeholder="Fecha límite" name="date" id="date" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="limit" class="col-lg-2 control-label">Límite de inter.</label>
					<div class="col-lg-10">
						<input type="text" value="<% if(item.limit){ %><%= item.limit %><% } else { %>1<% } %>" placeholder="Límite de interesados" name="limit" id="limit" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="active" class="col-lg-2 control-label">Activo</label>
					<div class="col-lg-10">
						<select class="form-control" id="active" name="active">
							<option value="on" <% if(item.active === 'on'){ %>selected<% } %>>Si</option>
							<option value="off" <% if(item.active === 'off'){ %>selected<% } %>>No</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="closed" class="col-lg-2 control-label">Cerrado</label>
					<div class="col-lg-10">
						<select class="form-control" id="closed" name="closed">
							<option value="off" <% if(item.closed === 'off'){ %>selected<% } %>>No</option>
							<option value="on" <% if(item.closed === 'on'){ %>selected<% } %>>Si</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="highlight" class="col-lg-2 control-label">Destacar</label>
					<div class="col-lg-10">
						<input type="text" value="<% if(item.highlight){ %><%= item.highlight %><% } %>" placeholder="Texto para destacar" name="highlight" id="highlight" class="form-control">
					</div>
				</div>

				<div class="form-group">

					<label for="usage" class="col-lg-2 control-label">Uso</label>

					<div class="col-lg-10">
						<select class="form-control" id="usage" name="usage">
							<option value="0" <% if(item.usage === '0'){ %>selected<% } %>>Sin uso / Nuevo</option>
							<option value="1" <% if(item.usage === '1'){ %>selected<% } %>>Usado casi nunca</option>
							<option value="2" <% if(item.usage === '2'){ %>selected<% } %>>Usado ocacionalmente</option>
							<option value="3" <% if(item.usage === '3'){ %>selected<% } %>>Usado regularmente</option>
							<option value="4" <% if(item.usage === '4'){ %>selected<% } %>>Muy usado</option>
						</select>
					</div>

				</div>

				<div class="form-group">

					<label for="affect" class="col-lg-2 control-label">Valor sentimental</label>

					<div class="col-lg-10">
						<select class="form-control" name="affect" id="affect">
							<option value="0" <% if(item.affect === '0'){ %>selected<% } %>>Nada de valor</option>
							<option value="1" <% if(item.affect === '1'){ %>selected<% } %>>Algo de valor</option>
							<option value="2" <% if(item.affect === '2'){ %>selected<% } %>>Mucho valor</option>
						</select>
					</div>

				</div>

				<div class="form-group">
					<label for="price" class="col-lg-2 control-label">Precio</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="price" name="price" placeholder="Precio" value="<% if(item.price){ %><%= item.price %><% } %>">
					</div>
				</div>

				<div class="form-group">
					<label for="conditions" class="col-lg-2 control-label">Condiciones</label>
					<div class="col-lg-10">
						<textarea class="form-control" rows="3" name="conditions" id="conditions" placeholder="Condiciones"><% if(item.conditions){ %><%= item.conditions %><% } %></textarea>
					</div>
				</div>

				<% if(interested){ %>

					<div class="form-group">
						<label for="conditions" class="col-lg-2 control-label">Interesados</label>
						<div class="col-lg-10">

							<% var interestedUsers = [] %>

							<% for (var i in interested) { %>

								<% for (var j in users) { %>

									<% if(interested[i].facebookId === users[j].facebookId){ %>
										<% interestedUsers.push(users[j].data.name) %>

										<div class="media">
											<a class="pull-left" target="_blank" href="/admin/user?id=<%= users[j].facebookId %>">
												<img class="media-object" src="http://graph.facebook.com/<%= users[j].data.username %>/picture" alt="<%= users[j].data.name %>">
											</a>
											<div class="media-body">
												<h4 class="media-heading"><%= users[j].data.name %></h4>
												<p><%= users[j].data.email %></p>
												<a class="btn btn-danger btn-xs delete-interested" data-interested='{"facebookId": "<%= users[j].facebookId %>", "itemId": "<%= item._id %>"}'>¿Eliminar?</a>
											</div>
										</div>

									<% } %>

								<% } %>

							<% } %>

							<textarea class="form-control" placeholder="Listado de ganadores"><%= interestedUsers.join('&#10;') %></textarea>

						</div>
					</div>

				<% } %>

				<div class="form-group">
					<label for="assignmain" class="col-lg-2 control-label">Asignado</label>
					<div class="col-lg-10">
						<select class="form-control" name="assign" id="assignmain">
							<option value="" <% if(item.assign && item.assign[0] === ""){ %>selected<% } %>>Sin asignar</option>
							<% for (var i in users) { %>
							<option value="<%= users[i].facebookId %>" <% if(item.assign && item.assign[0] == users[i].facebookId){ %>selected<% } %>><%= users[i].data.name %></option>
							<% } %>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="assignfirst" class="col-lg-2 control-label">Primer suplente</label>
					<div class="col-lg-10">
						<select class="form-control" name="assign" id="assignfirst">
							<option value="" <% if(item.assign && item.assign[1] === ""){ %>selected<% } %>>Sin asignar</option>
							<% for (var i in users) { %>
							<option value="<%= users[i].facebookId %>" <% if(item.assign && item.assign[1] == users[i].facebookId){ %>selected<% } %>><%= users[i].data.name %></option>
							<% } %>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="assignsecond" class="col-lg-2 control-label">Segundo suplente</label>
					<div class="col-lg-10">
						<select class="form-control" name="assign" id="assignsecond">
							<option value="" <% if(item.assign && item.assign[2] === ""){ %>selected<% } %>>Sin asignar</option>
							<% for (var i in users) { %>
							<option value="<%= users[i].facebookId %>" <% if(item.assign && item.assign[2] == users[i].facebookId){ %>selected<% } %>><%= users[i].data.name %></option>
							<% } %>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button id="submit" type="submit" class="btn btn-success">Guardar</button>
						<button id="delete" class="btn btn-danger">Eliminar</button> 
					</div>
				</div>

				<% if(item._id){ %>

					<input id="_id" name="_id" type="hidden" value="<%= item._id %>" />

				<% } %>

			</fieldset>

		</form>

	</div>

</div>