<script src="//api.filepicker.io/v1/filepicker.js"></script>
<script src="/bower/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script>

	$(document).ready(function(){

		filepicker.setKey("<%= config.app.filepicker %>");

		$("#photos-upload").on("click", function(e){

			e.preventDefault();

			filepicker.pickMultiple({
				mimetypes: ['image/*', 'text/plain'],
				services:['COMPUTER', 'DROPBOX', 'WEBCAM'],
			},
			function(InkBlob){

				var $photos = $("#photos");

				var actualPhotos = $photos.val();

				var photos;

				var htmlPhotos = [];

				if(actualPhotos === ""){

					photos = InkBlob;

				} else {

					photos = InkBlob.concat(JSON.parse(actualPhotos));

				}

				$photos.val(JSON.stringify(photos));

				$.each(photos, function(index) {

					htmlPhotos.push(
						[
							'<div class="col-md-3">',
							'<a href="' + photos[index].url + '" class="thumbnail" target="_blank">',
							'<img src="' + photos[index].url + '/convert?w=250&h=250&rotate=exif" alt="' + photos[index].filename + '">',
							'</a>',
							'</div>'
						].join("")
					);

				});

				$("#photos-files").empty();
				$("#photos-files").append(htmlPhotos.join(""));

			},
			function(FPError){
				console.log(FPError.toString());
			});

		});

		$("#delete").on("click", function(e){

			e.preventDefault();

			$("form").attr("action", "/admin/item/delete");

			$("#submit").click();

		});

		$('#date').datepicker();

		$(".delete-interested").on("click", function(){

			var $this = $(this);

			$.ajax({
				type: "POST",
				url: "/admin/interested/delete",
				data: { 
					itemId: $this.data("interested").itemId,
					facebookId: $this.data("interested").facebookId
				}
			})
			.done(function(msg) {
				$this.parents(".media").remove();
			})
			.fail(function() {
				alert("Hubo un error al tratar de hacer la operación.");
			});

		});

	});

</script>