<!-- Flash -->
<% for (var prop in flash) { %>

	<% if(prop === "interested-gift"){ %>

		<div class="alert alert-dismissable alert-success alert-item-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			¡Listo! Ya estas en la lista de interesados. En caso de salir sorteado te voy a estar contactando. ¡Gracias!
		</div>

	<% } %>

	<% if(prop === "interested-auction"){ %>

		<div class="alert alert-dismissable alert-success alert-item-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			¡Listo! Ya quedó registrado tu ofrecimiento, el item quedó reservado para que otras personas no puedan tomarlo. Te voy a estar contactando para arreglar los detalles! ¡Gracias!
		</div>

	<% } %>

	<% if(prop === "item-new"){ %>

		<div class="alert alert-dismissable alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			Información guardada correctamente
		</div>

	<% } %>

<% } %>
<!-- Flash -->