<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="fb:admins" content="<%= config.app.admin %>"/>
<meta property="fb:app_id" content="<%= config.plugins.travelogue.facebook.clientID %>"/>

<% if(nav === 'item') { %>

<% var title = item.type === "auction" ? "¡Vendo! " + item.name : "¡Regalo! " + item.name; %>
<meta property="og:title" content=" <%= title %>">
<% var description = item.description.replace(/&#{0,1}[a-z0-9]+;/ig, ""); %>
<meta name="description" content="<%= description %>">
<meta property="og:description" content="<%= description %>">
<% if (item.photos) { %>
<% var photos = JSON.parse(item.photos); %>
<meta property="og:image" content="<%= photos[0].url %>/convert?w=350&h=350">
<% } %>

<% } else { %>

<meta property="og:title" content="Me voy a la m!3rd@!">
<meta name="description" content="Qué?! Sep, me voy a la mierda y estoy rematando/regalando algunas cosas que tengo en mi casa.">
<meta property="og:description" content="Qué?! Sep, me voy a la mierda y estoy rematando/regalando algunas cosas que tengo en mi casa.">
<meta property="og:image" content="//www.filepicker.io/api/file/IGXsXEoQju57XazmQENA">

<% } %>

<link rel="icon" type="image/png" href="//mevoyalamierda.com/images/16x16.png">