<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="fb:admins" content="<%= config.app.admin %>"/>
<meta property="fb:app_id" content="<%= config.plugins.travelogue.facebook.clientID %>"/>

<% if(nav === 'item') { %>

<% var title = item.type === "auction" ? "¡Vendo! " + item.name : "¡Regalo! " + item.name; %>
<meta property="og:title" content=" <%= title %>">
<% var description = item.description.replace(/&#{0,1}[a-z0-9]+;/ig, ""); %>
<meta name="description" content="<%= description %>">
<meta property="og:description" content="<%= description %>">
<% if (item.photos) { %>
<% var photos = JSON.parse(item.photos); %>
<meta property="og:image" content="<%= photos[0].url %>/convert?w=350&h=350">
<% } %>

<% } else { %>

<meta property="og:title" content="Me tomo el palo y regalo/vendo cosas!">
<meta name="description" content="Lo qué?! Como muchos ya saben en breve me voy a vivir a Ámsterdam, y estoy rematando/regalando algunas cosas que tengo en mi casa. ">
<meta property="og:description" content="Lo qué?! Como muchos ya saben en breve me voy a vivir a Ámsterdam, y estoy rematando/regalando algunas cosas que tengo en mi casa">
<meta property="og:image" content="https://cdn.filepicker.io/api/file/KWN3nEkRfiDsouMWSauw">

<% } %>

<link rel="icon" type="image/png" href="/favicon.ico">