<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Me tomo el palo! - Admin</title>
<%- include ../../partials/_meta.html %>
<%- include ../../partials/_css.html %>
</head>

<body>

<%- include ../../partials/_navbar.html %>

<div class="container">

	<%- include ../../partials/_flash.html %>

	<% if(items.length > 0) { %>

		<ul class="nav nav-pills">
			<li>
				<a class="btn btn-primary btn-block" href="/admin/item/new">
					Crear nuevo item
				</a>
			</li>
			<li>
				<a class="btn btn-primary btn-block" href="/admin/notifications">
					Enviar notificaciones
				</a>
			</li>
		</ul>

		<hr>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>

				<% items.forEach(function(item, index){%>

					<tr>
						<td><a href="/admin/item/edit?id=<%= item._id %>"><%= item.name %></a></td>
						<td><a class="btn btn-primary btn-xs" href="/admin/notifications/item?id=<%= item._id %>">Enviar notificaciones</a></td>
					</tr>

				<% }) %>

			</tbody>
		</table>

	<% } else { %>

		<a class="btn btn-primary btn-block" href="/admin/item/new">
			Crear nuevo item
		</a>

	<% } %>

</div>

<%- include ../../partials/_js.html %>

</body>

</html>