<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Me voy a la m!3rd@!</title>
<%- include ../../partials/_meta.html %>
<%- include ../../partials/_css.html %>
</head>

<body>

<%- include ../../partials/_navbar.html %>

<!-- Home -->
<div class="jumbotron">
	<div class="container">
		<h1>Qué?!</h1>
		<p>Sep, me voy a la m!3rd@ y estoy rematando/regalando algunas cosas que tengo en mi casa.</p>
	</div>
</div>

<div class="container">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">¡El sistema es sencillo!</h3>
		</div>
		<div class="panel-body">
			<ol>
				<li>Miras lo que hay en el listado, hay <a href="/items"><strong>cosas que se venden y otras que se regalan</strong></a></li>
				<li>Si te interesa algo de lo que se venden podes reservarlo para llevartelo</li>
				<li>Y si te interesa algo de los regalos, te anotas en la lista. Al final se hace un sorteo entre los que se anotaron para decidir quien se lleva cada cosa</li>
			</ol>
			<p>¡Acordate de leer bien los detalles y las condiciones de cada item!</p>
		</div>
	</div>

</div>
<!-- Home -->

<%- include ../../partials/_js.html %>
<%- include ../../partials/_blank.html %>

</body>

</html>