<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Me tomo el palo! - Preguntas frecuentes</title>
<%- include ../../partials/_meta.html %>
<%- include ../../partials/_css.html %>
</head>

<body>

<%- include ../../partials/_navbar.html %>

<!-- FAQ -->
<div class="container">

	<h1>Preguntas frecuentes</h1>

	<div class="list-group">

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">No entiendo nada, explicame. Rápido.</h3>
			<p class="list-group-item-text">Nos vamos de Argentina y necesitamos colocar algunas de nuestras cosas cosas en algún lugar. Por lo tanto, vas al <a href="/items">listado</a> y si ves algo que te interese, le das al botón "Lo quiero". Si el item es un regalo, quedás anotado en la lista de interesados. De esa lista, el sistema hace un sorteo para elegir quien se lo lleva. Y si el item se vende, queda reservado para vos, a mi me llegan tus datos de contacto para arreglar los detalles. Y listo.</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Porqué me tengo que loguear con Facebook?</h3>
			<p class="list-group-item-text">Porque es la manera más fácil de obtener tus datos de contacto. O queres llenar un formulario con tus datos personales... eh? eh?!</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Por dónde se pasan a retirar las cosas?</h3>
			<p class="list-group-item-text">Estoy en Turdera, los que me conocen ya saben por donde queda, pero sino hablamos y vemos!</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Hay alguna fecha límite para pasar a buscar las cosas?</h3>
			<p class="list-group-item-text">Mas o menos, hasta el 23 de Febrero de 2016.</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Me arrepentí y no quiero un item</h3>
			<p class="list-group-item-text">No hay drama, <a href="about">mandame un email</a> y te doy de baja. ¡Pero avisame con tiempo eh!</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Quiero saber más información sobre vos</h3>
			<p class="list-group-item-text">Si llegaste a este sitio, es porque sabras quién soy... igualmente en la sección <a href="about">Sobre mi</a> hay mas información (bueno, sólo mi email y algo más...)</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Quiero saber cómo hiciste el sitio</h3>
			<p class="list-group-item-text">El sitio es una copia descarada de uno armado por el genio de <a href="http://ar.linkedin.com/in/leandrodonofrio">Leandro D'Onofrio</a>. Esta hecho con  Nodejs, MongoDB, Bootstrap. Heroku, File Picker y MongoLab. Le cambie un par de cosas segun mis gustos, pero en esencia es un <a data-toggle="tooltip" title="<img src='http://3.bp.blogspot.com/-qDLp65v4gA0/T3IrE70Ty0I/AAAAAAAADEo/vU-nX_lmLG4/s320/images%2B%252823%2529.jpg' style='max-width:100%;' />">choreo</a> a el. </p>
		</div>

	</div>

</div>
<!-- FAQ -->

<%- include ../../partials/_js.html %>

</body>

</html>