<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Me voy a la m!3rd@! - Preguntas frecuentes</title>
<%- include ../../partials/_meta.html %>
<%- include ../../partials/_css.html %>
</head>

<body>

<%- include ../../partials/_navbar.html %>

<!-- FAQ -->
<div class="container">

	<h1>Preguntas frecuentes</h1>

	<div class="list-group">

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">No entiendo nada, explicame. Rápido.</h3>
			<p class="list-group-item-text">Me voy de Argentina y necesito colocar mis cosas en algún lugar. Por lo tanto, vas al <a href="/items">listado</a> y si ves algo que te interese, le das al botón "Lo quiero". Si el item es un regalo, quedás anotado en la lista de interesados. De esa lista, el sistema hace un sorteo para elegir quien se lo lleva. Y si el item se vende, queda reservado para vos, a mi me llegan tus datos de contacto para arreglar los detalles. Y listo.</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Porqué me tengo que loguear con Facebook?</h3>
			<p class="list-group-item-text">Porque es la manera más fácil de obtener tus datos de contacto. O queres llenar un formulario con tus datos personales... eh? eh?!</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Por dónde se pasan a retirar las cosas?</h3>
			<p class="list-group-item-text">Estoy en el barrio de Caballito, los que me conocen ya saben por donde queda, pero especificamente es acá: <a href="https://maps.google.com/maps?q=Felipe+Vallese+761,+Buenos+Aires,+Argentina&hl=es&sll=-34.640834,-58.43247&sspn=0.011334,0.022724&oq=felipe+vallese+761&hnear=Felipe+Vallese+761,+Caballito,+Buenos+Aires,+Argentina&t=m&z=16">ver mapa</a></p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿Hay alguna fecha límite para pasar a buscar las cosas?</h3>
			<p class="list-group-item-text">Si, hasta el 17 de Enero de 2014.</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Me arrepentí y no quiero un item</h3>
			<p class="list-group-item-text">No hay drama, <a href="about">mandame un email</a> y te doy de baja. ¡Pero avisame con tiempo eh!</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">¿En el caso de los items que se venden, ¿cuáles son las formas de pago?</h3>
			<p class="list-group-item-text">Idealmente depósito. Pero si tenes efectivo no hay drama.</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Quiero saber más información sobre vos</h3>
			<p class="list-group-item-text">Si llegaste a este sitio, es porque sabras quién soy... igualmente en la sección <a href="about">Sobre mi</a> hay mas información (bueno, sólo mi email y algo más...)</p>
		</div>

		<div class="list-group-item" href="#">
			<h3 class="list-group-item-heading">Quiero saber cómo hiciste el sitio</h3>
			<p class="list-group-item-text">Nodejs, MongoDB, Bootstrap. Heroku, File Picker y MongoLab. Me llevó dos días de desarrollo. Y eso.</p>
		</div>

	</div>

</div>
<!-- FAQ -->

<%- include ../../partials/_js.html %>

</body>

</html>