<% if(item.assign[0]){ %>

	<div class="alert alert-primary alert-item alert-dismissable">
		<strong>¡Este item ya se lo llevó alguien! <a href="/winners?id=<%= item._id %>">Averigua quien!</a></strong>
	</div>

<% } else { %>

	<% if(item.active === "off") { %>

		<div class="alert alert-danger alert-item alert-dismissable">
			<strong>¡Este item ya no esta más activo!</strong>
		</div>

	<% } %>

	<% if(item.closed === "on") { %>

		<div class="alert alert-danger alert-item alert-dismissable">
			<strong>¡Este item está reservado!</strong>
		</div>

	<% } %>


	<% if(item.type === "gift") { %>

		<div class="alert alert-success alert-item alert-dismissable">
			<strong>¡Este item se regala!</strong>
			<ul>
				<li>Si te interesa, hacé click en el botón "Lo quiero" y quedas automáticamente agregado en la lista de interesados!</li>
				<li>Al llegar a la fecha limite (o a un máximo de <%= item.limit %> personas) el sistema hace un sorteo para elegir quien se lo queda. En caso que te lo quedes vos, te estaré contactando</li>
				<li>Por favor, lee atentamente las condiciones y si tenes alguna pregunta no dudes en dejar un comentario o <a href="/about">contactarme</a>!</li>
			</ul>
		</div>

	<% } %>
<% } %>

<% if(item.type === "auction") { %>

	<div class="alert alert-warning alert-item alert-dismissable">
		<strong>¡Este item se vende!</strong> 
		<ul>
			<li>Si te interesa, hacé click en el botón "Lo quiero" y queda guardado para vos!</li>
			<li>Luego de eso, probablemente te este contactando para arreglar los detalles</li>
			<li>Por favor, lee atentamente las condiciones y si tenes alguna pregunta no dudes en dejar un comentario o <a href="/about">contactarme</a>!</li>
		</ul>
	</div>

<% } %>

<div class="jumbotron">

<div class="container">

	<h1 class="text-center"><%= item.name %></h1>

	<h4 class="text-center">

		<% if(interested.length === 0) { %>

			Aún no hay personas que quieran este item

		<% } %>

		<% if(interested.length === 1) { %>

			<%= interested.length %> persona quiere este item

		<% } %>

		<% if(interested.length > 1) { %>

			<%= interested.length %> personas quieren este item

		<% } %>

	</h4>

	<% if(item.price) { %>

		<h2 class="text-center">$ <%= item.price %></h2>

	<% } %>

	<hr>

	<% if(item.photos) { %>

		<div id="owl-demo" class="owl-carousel owl-theme">

			<% 

			var photos = JSON.parse(item.photos);

			for (var i in photos) { 

			%>
		
				<div class="item">
					<a href="<%= photos[i].url %>" target="_blank">
						<img src="<%= photos[i].url %>/convert?w=230">
					</a>
				</div>

			<% } %>

		</div>

	<% } %>

</div>

</div>

<div class="container">

<h2 class="text-center">

	Fecha límite

	para 

	<% if(item.type === "gift") { %>

		anotarse en la lista de interesados

	<% } %>

	<% if(item.type === "auction") { %>

		reservarlo

	<% } %>

</h2>

<p class="text-center"><%= item.date %></p>

<hr>

<h2 class="text-center">Descripción</h2>

<div class="text-center"><%- item.description %></div>

<hr>

<h2 class="text-center">Información adicional</h2>

<div class="row">

	<div class="col-md-6">

		<h3 class="text-center">Uso</h3>

		<p class="text-center">

		<% if(item.usage === "4") { %>
			<i class="fa fa-star-o"></i>
			<br>
			Muy usado
		<% } %>

		<% if(item.usage === "3") { %>
			<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
			<br>
			Usado regularmente
		<% } %>

		<% if(item.usage === "2") { %>
			<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
			<br>
			Usado ocasionalmente
		<% } %>

		<% if(item.usage === "1") { %>
			<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
			<br>
			Usado casi nunca
		<% } %>

		<% if(item.usage === "0") { %>
			<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
			<br>
			Sin uso / nuevo
		<% } %>

		</p>

	</div>

	<div class="col-md-6">

		<h3 class="text-center">Valor sentimental</h3>

		<p class="text-center">

		<% if(item.affect === "0") { %>
			<i class="fa fa-heart"></i>
			<br>
			Nada de valor
		<% } %>

		<% if(item.affect === "1") { %>
			<i class="fa fa-heart"></i><i class="fa fa-heart"></i>
			<br>
			Algo de valor
		<% } %>

		<% if(item.affect === "2") { %>
			<i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i>
			<br>
			Mucho valor
		<% } %>

		</p>

	</div>

</div>

<hr>

<h2 class="text-center">Condiciones</h2>

<ol class="text-center conditions">
	<li><strong>¡Darle un uso!</strong> Si no vas a usarlo, podes ahorrarte darle al botón "Lo Quiero" ¬¬ </li>
	<li><strong>Si queres podes regalarlo</strong>, pero asegurate que la persona cumpla el punto 1 :-) </li>
	<li><strong style="color:red;">El/los items se tienen que pasar a buscar por casa, en Turdera (Zona Sur del Gran Buenos Aires).</strong> (O en <a href="https://www.facebook.com/pages/Guten-Bier/1426533837622785">Guten Bier</a> post intercambiar unas Weizenbier). </li>
	<% if(item.conditions) { %>
		<%- item.conditions %>
	<% } %>
</ol>

<% if(item.active === "on") { %>

	<hr>

	<p class="text-center">

		<% if(!item.assign[0]){ %>

			<% var isInterested = false;

			if(user) {

				interested.forEach(function(person){

					if(person.facebookId === user.id){

						isInterested = true;

					}

				}); 

			} %>

			<% if(isInterested === true || item.closed === "on") { %>

				<button type="button" class="btn btn-primary btn-lg disabled">
					<i class="fa fa-heart"></i> ¡Lo quiero! <i class="fa fa-heart"></i>
				</button>

			<% } else { %>

				<% if(item.limit != interested.length){ %>

					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirm">
						<i class="fa fa-heart"></i> ¡Lo quiero! <i class="fa fa-heart"></i>
					</button>

				<% } else { %>

						<button type="button" class="btn btn-primary btn-lg disabled">
							<i class="fa fa-heart"></i> ¡Ya se llegó al limite de personas! <i class="fa fa-heart"></i>
						</button>

						<p class="text-center">
							Si el item es MUY popular, tal vez el límite se agrande para que todos puedan participar. Si es así, vuelve más tarde!
						</p>			

				<% } %>

			<% } %>

		<% } else { %>

			<a class="btn btn-default btn-lg" href="/winners?id=<%= item._id %>">
				<i class="fa fa-heart"></i> ¡Ya esta asignado a alguien! Averigua quien!<i class="fa fa-heart"></i>
			</a>

		<% } %>

	</p>

<% } %>

<% if(item.active === "on") { %>

	<hr>

	<br>

	<h2 class="text-center">Comentarios</h2>

	<% if(user) { %>

	<div class="fb-comments" data-width="100%" data-order-by="reverse_time" data-href="<%= config.app.url %>/item?id=<%= item._id %>" data-numposts="10" data-colorscheme="light"></div> 

	<hr>

	<% } else { %>

		<h3 class="text-center">
			¡Para comentar o ver los comentarios necesitas ingresar con tu cuenta de Facebook!
		</h3>

		<p class="text-center">
			<a class="btn btn-info" href="/auth/facebook">Ingresar con mi cuenta de Facebook</a>
		</p>

	<% } %>

<% } %>

<br>

</div>

<% if(item.active === "on") { %>

<% if(item.limit != interested.length){ %>

	<% if(user && !item.assign[0]) { %>

		<% if(item.type === "gift") { %>

		<div class="modal fade" id="confirm">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="/item/interested" method="POST">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="modal-title" id="myModalLabel">¡Wait a minute!</h3>
						</div>
						<div class="modal-body">
							<p>Al darle al botón, aceptas las condiciones dispuestas en la descripción! <strong>Esto es muy importante</strong>, ya que en caso de no cumplirlas y en caso de salir sorteado, no podrás reclamarlo y se le dará el item a otra persona interesada.</p>
							<p>Tus datos básicos de Facebook (nombre, apellido, etc) quedan guardados y asociados a la lista de interesados que quieren el item (esto es para poder contactarte luego). Si tienes más dudas, podes revisar el <a href="/faq">FAQ</a></p>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								<button type="submit" class="btn btn-primary">¡Entendido! Agregarme en la lista!</button>
								<input name="itemId" type="hidden" value="<%= item._id %>" />
								<input name="facebookId" type="hidden" value="<%= user.id %>" />
								<input name="type" type="hidden" value="<%= item.type %>" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<% } %>

		<% if(item.type === "auction") { %>

		<div class="modal fade" id="confirm">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="/item/interested" method="POST" parsley-validate>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title">¡Wait a minute!</h3>
						</div>
						<div class="modal-body">
							<p>Al hacer click en confirmar, te estas comprometiendo a comprar el item!</p>
							<p>Además estas aceptando las condiciones dispuestas en la descripción<strong>. Esto es muy importante</strong>, ya que en caso de no cumplirlas se le dará el item a otra persona interesada.</p>
							<p>Tus datos básicos de Facebook (nombre, apellido, etc) quedan guardados y asociados para poder contactarte luego y así arreglar la entrega. Si tienes más dudas, podes revisar el <a href="/faq">FAQ</a></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary">¡Confirmar!</button>
							<input name="itemId" type="hidden" value="<%= item._id %>" />
							<input name="type" type="hidden" value="<%= item.type %>" />
							<input name="facebookId" type="hidden" value="<%= user.id %>" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<% } %>

	<% } else { %>

		<div class="modal fade" id="confirm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h3 class="modal-title">Chssssst!</h3>
					</div>
					<div class="modal-body">
						¡Primero necesitas ingresar con tu cuenta de Facebook!
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						<a class="btn btn-primary" href="/auth/facebook">Ingresar con mi cuenta de Facebook</a>
					</div>
				</div>
			</div>
		</div>

	<% } %>

<% } %>

<% } %>