<!-- Message 
<div class="well">
	<p>¡Hey!, <strong>Nuevamente, ¡Gracias a TODOS los que me dieron una mano, ya sea compartiendo, comprando,  anotandose o deseandome suerte!</strong> :-D</p>
	<p>Como dice la letra ("Todo concluye al fin, nada puede escapar..." :P ) ya no tengo más cosas para regalar, por suerte la gran mayoría ya las pude ubicar sin tener que subirlas a la página! asi que sólo estoy subiendo tres últimas cosas para vender: <strong>Una <a href="/item?id=52bf125865b3896fcb42fee4">Macbook Air</a></strong>, una <strong><a href="/item?id=52bf166d65b3896fcb42fee5">Macbook Pro</a></strong> y <strong>mi <a href="/item?id=52bf196865b3896fcb42fee6">heladera</a></strong>. Así que nada, nuevamente ¡Gracias!</p>
	<p>PD: Sé que aún quedan un par de cosas por sortear (no más de 6, entre ellas la Wii), esta semana, los que se anotaron para cada cosa, van a saber quien es el ganador!</p>
</div>-->

<!-- Items -->
<div class="container">

	<% if(items.length > 0) { %>

		<div id="items" class="row">

			<% items.forEach(function(item, index){%>

				<div class="item col-sm-6 col-md-3">

					<a href="/item?id=<%= item._id %>" class="thumbnail">

						<% if(item.highlight) { %>

						<div class="ribbon-wrapper">
							<div class="ribbon"><%= item.highlight %></div>
						</div>

						<% } %>

						<% if(item.assign[0]) { %>

						<span class="label label-primary">¡Ya se lo llevó alguién!</span>

						<% } else { %>

							<% if(item.type === "auction") { %>

							<span class="label label-warning">¡Se vende!</span>

							<% } %>

							<% if(item.type === "gift") { %>

							<span class="label label-success">¡Se regala!</span>

							<% } %>

						<% } %>

						<% if(item.photos) { %>

							<% var photos = JSON.parse(item.photos); %>
						
							<img src="<%= photos[0].url %>/convert?w=260">

						<% } %>

						<div class="caption">
							<h3><%= item.name %></h3>
						</div>

					</a>

				</div>

			<% }) %>

		</div>

	<% } else { %>

		<div class="alert alert-dismissable alert-warning">
            <h4>Hey!</h4>
            <p>No existen items para mostrar, vuelve más tarde :D</p>
        </div>

	<% } %>

</div>
<!-- Items -->