<script src="/bower/eventEmitter/EventEmitter.js"></script>
<script src="/bower/eventie/eventie.js"></script>
<script src="/bower/doc-ready/doc-ready.js"></script>
<script src="/bower/get-style-property/get-style-property.js"></script>
<script src="/bower/get-size/get-size.js"></script>
<script src="/bower/jquery-bridget/jquery.bridget.js"></script>
<script src="/bower/matches-selector/matches-selector.js"></script>
<script src="/bower/outlayer/item.js"></script>
<script src="/bower/outlayer/outlayer.js"></script>
<script src="/bower/imagesloaded/imagesloaded.js"></script>
<script src="/bower/masonry/masonry.js"></script>

<script>

	$(document).ready(function(){

		var $container = $('#items');

		$container.imagesLoaded( function() {
			$container.masonry({
				itemSelector: '.item'
			});
		});

	});

</script>