<!-- Winners -->
<div class="jumbotron">

	<div class="container">

		<h1 class="text-center">¡Ganador(a) de <%= item.name %>!</h1>

	</div>

</div>

<% if(item.type === "gift" && item.assign && item.assign[0]){ %>

	<div class="container">

		<% for (var j in users) { %>

			<% if(item.assign[0] === users[j].facebookId){ %>

				<div class="text-center">
					<img class="text-center" src="https://graph.facebook.com/<%= users[j].data.username %>/picture?type=large" alt="<%= users[j].data.name %>">
					<h2><%= users[j].data.name %></h2>
				</div>

			<% } %>

		<% } %>

	</div>

	<p class="text-center">¡Te estaré contactando para arreglar los detalles!</p>

	<hr>

	<div class="jumbotron">

		<div class="container">

			<h2 class="text-center">Primer suplente</h2>

		</div>

	</div>

	<% for (var j in users) { %>

		<% if(item.assign[1] === users[j].facebookId){ %>

			<div class="text-center">
				<img class="text-center" src="https://graph.facebook.com/<%= users[j].data.username %>/picture?type=normal" alt="<%= users[j].data.name %>">
				<h3><%= users[j].data.name %></h3>
			</div>

		<% } %>

	<% } %>

	<hr>

	<div class="jumbotron">

		<div class="container">

			<h2 class="text-center">Segundo suplente</h2>

		</div>

	</div>

	<% for (var j in users) { %>

		<% if(item.assign[2] === users[j].facebookId){ %>

			<div class="text-center">
				<img class="text-center" src="https://graph.facebook.com/<%= users[j].data.username %>/picture?type=small" alt="<%= users[j].data.name %>">
				<h3><%= users[j].data.name %></h3>
			</div>

		<% } %>

	<% } %>

	<hr>

	<p class="text-center">En caso que en el lapso de 2 días el/la ganador(a) no pueda/no quiera/no responda a mi contacto (mal por él/ella), se contactará al primer suplente y así sucesivamente.</p>

	<hr>

	<div class="jumbotron">

		<div class="container">

			<h2 class="text-center">Y a los demás, ¡Muchas gracias por participar! :-D</h2>

		</div>

	</div>

<% } else { %>

	<h2 class="text-center">¡Aún no hay ganadores! (por cierto, ¿qué haces revisando esta página?)</h2>

<% } %>
<!-- Winners -->