<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Me voy a la m!3rd@! - Sobre mi</title>
<%- include ../../partials/_meta.html %>
<%- include ../../partials/_css.html %>
</head>

<body>

<%- include ../../partials/_navbar.html %>

<!-- About -->
<div class="container">

	<h1>Sobre mi</h1>

	<div class="media">

		<a class="pull-left" href="#">
			<img class="media-object" src="https://cdn.filepicker.io/api/file/2vSyK0JuRVmFdL4gwHNe/convert?w=350&h=350" alt="Nazareno Lorenzo">
		</a>

		<div class="media-body">

			<h4 class="media-heading">Nazareno Lorenzo</h4>

			<p>Geek, viajero, hinchahuevos. Programador web desde pequeño</p>

			<p>Contacto: nazarenolorenzo(arroba)gmail.com</p>

			<p>LinkedIn: <a href="http://ar.linkedin.com/in/nazarenolorenzo">http://ar.linkedin.com/in/nazarenolorenzo</a></p>

		</div>

	</div>

</div>
<!-- About -->

<%- include ../../partials/_js.html %>

</body>

</html>