<div class="container">

	<div class="well">

		<form class="form-horizontal">

			<fieldset>

				<legend>Notificaciones: 

					<% if(type === 'user'){ %>
						a usuario
					<% } %>

					<% if(type === 'interested'){ %>
						a usuarios interesados
					<% } %>

					<% if(type === 'all'){ %>
						a todos los usuarios
					<% } %>

				</legend>

				<div class="form-group">
					<label for="text" class="col-lg-2 control-label">Texto</label>
					<div class="col-lg-10">
						<textarea class="form-control" rows="3" name="text" id="text" placeholder="Texto"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label for="uri" class="col-lg-2 control-label">URI</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="uri" name="uri" placeholder="URI" value="">
						<p class="help-block">Ejemplo: <code>?page=winners&amp;params=</code></p>
					</div>
				</div>

					<div class="form-group">
						<label for="conditions" class="col-lg-2 control-label">Usuarios</label>
						<div class="col-lg-10">

							<% if(users.length > 0){ %>

								<% for (var i in users) { %>

									<div class="user media" id="user-<%= users[i].facebookId %>" data-user='{"facebookId": "<%= users[i].facebookId %>"}'>
										<a class="pull-left" target="_blank" href="/admin/user?id=<%= users[i].facebookId %>">
											<img class="media-object" src="http://graph.facebook.com/<%= users[i].facebookId %>/picture" alt="<%= users[i].data.name %>">
										</a>
										<div class="media-body">
											<h4 class="media-heading"><%= users[i].data.name %></h4>
											<p>
												<%= users[i].data.email %> 
												<% if(type !== 'user'){ %>
													<a class="btn btn-primary btn-xs" href='/admin/notifications/user?id=<%= users[i].facebookId %>'>Enviar notificación</a>
												<% } %>
											</p>
										</div>
									</div>

								<% } %>

							<% } else { %>

								<p>No hay usuarios a los cual mandarle alguna notificación.</p>

							<% } %>

						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button id="send-test" type="button" class="btn btn-test send">Enviar prueba</button>
							<button id="send-notifications" type="button" class="btn btn-primary send">Enviar</button>
						</div>
					</div>

			</fieldset>

		</form>

	</div>

</div>